@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "@styles/media" as *;

.wrapper {
	margin-top: rem(125);

	padding-inline: rem(60);
	border-radius: var(--border-radius-large);
	background-color: var(--color-gray);

	display: flex;
	column-gap: rem(185);
	align-items: center;

	@include desktop {
		column-gap: rem(70);
	}

	@include laptop {
		padding: rem(50);
		justify-content: center;
	}

	@include mobile {
		margin-top: rem(70);
	}

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: rem(25);

		@include laptop {
			justify-content: center;
			align-items: center;
		}

		>h3 {
			@include mobile {
				text-align: center;
			}
		}

		>p{
			max-width: rem(500);

			@include laptop {
				text-align: center;
			}
		}

		>button{
			align-self: start;

			@include laptop {
				align-self: normal;
			}
		}
	}

	>img {
		margin-block: rem(-25);

		@include laptop {
			display: none;
		}
	}
}
