@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "@styles/media" as *;

.card {

	&Wrapper {
		display: flex;
		justify-content: space-between;

		padding: rem(50);

		@include laptop {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: rem(30);
		}
	}

	&Body {
		display: flex;
		flex-direction: column;
		row-gap: rem(90);
		justify-content: space-between;

		@include laptop {
			display: contents;
		}
	}

	&Title {
		@include laptop {
			grid-column: 1 / 4;
		}
	}

	&Link {
		@include fluid-text(16, 20);

		display: inline-flex;
		align-items: center;
		column-gap: rem(15);

		@include laptop {
			align-self: end;
		}

		>span {
			@include laptop {
				display: none;
			}
		}

		>img {
			transition-duration: var(--transition-duration);
		}

		@include hover {
			>img {
				transform: rotate(360deg);
			}
		}

	}

	&Banner {
		width: rem(210);
		height: rem(190);

		@include desktop {
			width: rem(165);
			height: auto;
		}

		@include mobile {
			width: rem(210);
			height: rem(190);
		}

		@include mobile-s {
			min-width: rem(165);
			max-height: rem(129);
		}
	}
}

.dark {
	color: var(--color-dark);
}

.light {
	color: var(--color-light);
}