@use '@styles/functions' as *;
@use '@styles/mixins' as *;
@use '@styles/media' as *;

.button {
	@include fluid-text(16, 20);

	padding: rem(20) rem(35);
	border: var(--border);
	border-radius: var(--border-radius-default);
	font-weight: 400;
	background-color: transparent;

	@include hover{
		background-color: var(--color-accent);
	}

	&--accent{
		background-color: var(--color-accent);
	}

	&--dark {
		color: var(--color-light);
		background-color: var(--color-dark);
	}
}