@use '@styles/mixins' as *;
@use '@styles/media' as *;
@use '@styles/functions' as *;

.burgerButton {
	@include square(50);

	position: relative;

	border: var(--border);
	border-radius: 50%;
	padding: 0;
	margin: 0;

	&::after {
		@include abs-center();

		content: "";

		height: rem(1.5);
		width: 70%;
		background-color: currentColor;

		box-shadow: 0 rem(7.5) 0 0 var(--color-dark), 0 -(rem(7.5)) 0 0 var(--color-dark);
	}

	@include hover{
		background-color: var(--color-accent);
	}
}