@use "mixins" as *;

body {
  @include fluid-text(16, 18);

  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-dark);
  line-height: 1.28;
}

a,
button,
input,
textarea,
svg,
select {
  transition-duration: var(--transition-duration);
}

a {
  @include reset-link();
}

button {
  @include reset-button();
}

h1, .h1, h2, .h2, h3, .h3, h4 .h4, h5, .h5, h6, .h6 {
  font-weight: 500;
}

h1, .h1 {
  @include fluid-text(42, 60);
}

h2, .h2 {
  @include fluid-text(36, 40);
}

h3, .h3 {
  @include fluid-text(26, 30);
}

h4, .h4 {
  @include fluid-text(18, 20);
}

