@use "mixins" as *;
@use "media" as *;
@use "functions" as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-inline) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-inline);
}

.section {
  padding-block: var(--section-padding-block);
}

.visually-hidden {
  @include visually-hidden();
}

.mobile-hidden {
  @include mobile {
    display: none !important;
  }
}

.mobile-show {
  @include mobile-above {
    display: none !important;
  }
}

.puddleBg{

  &Accent {
    padding-inline: rem(7);
    border-radius: var(--border-radius-small);
    background-color: var(--color-accent);
  }

  &Default {
    padding-inline: rem(7);
    border-radius: var(--border-radius-small);
    background-color: var(--color-light);
  }

}