@use "mixins" as *;
@use "media" as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-inline) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-inline);
}

.visually-hidden {
  @include visually-hidden();
}

.mobile-hidden {
  @include mobile {
    display: none; !important;
  }
}