@use '@styles/functions' as *;
@use '@styles/media' as *;

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	row-gap: rem(20);

	padding: rem(42) rem(50);
	background-color: var(--color-dark);
	border-radius: var(--border-radius-large);

	&Description {
		color: var(--color-light);

		@include mobile-s-above {
			max-width: rem(500);
		}
	}

	&Link{
		display: inline-flex;
		align-items: center;
		column-gap: rem(15);

		color: var(--color-accent);

		@include mobile-s {
			align-self: start;
		}

		position: relative;
		&:after {
			content: '';

			position: absolute;
			bottom: rem(-10);
			left: 0;

			width: 0;
			height: rem(2);
			background-color: var(--color-light);

			transition: width var(--transition-duration);
		}
		>img {
			transition-duration: var(--transition-duration);
		}

		@include hover{
			>img{
				transform: rotate(-60deg);
			}
			&:after {
				width: 100%;
			}
		}
	}
}
