@use '@styles/functions' as *;
@use '@styles/mixins' as *;
@use '@styles/media' as *;

.button {
	@include fluid-text(16, 20);

	padding: rem(20) rem(35);
	border: var(--border);
	border-radius: var(--border-radius-default);
	font-weight: 400;
	background-color: transparent;

	position: relative;
	z-index: 1;
	overflow-x: hidden;

	&::before {
		content: '';

		z-index: -1;
		position: absolute;
		top: 0;
		left: -100%;

		width: 100%;
		height: 100%;
		border-radius: inherit;
		background-color: var(--color-accent);

		transition-duration: var(--transition-duration);
	}

	@include hover{
		border-color: transparent;
		background-color: transparent;
		&::before {
			left: 0;
		}
	}

	&--accent{
		background-color: var(--color-accent);

		@include hover{
			color: var(--color-light);
			&::before {
				background-color: var(--color-dark);
			}
		}
	}

	&--dark {
		color: var(--color-light);
		background-color: var(--color-dark);

		@include hover{
			color: var(--color-dark);
		}
	}
}