@use '@styles/mixins' as *;
@use '@styles/media' as *;
@use '@styles/functions' as *;

.footer {

	&Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: rem(65);

		@include mobile {
			flex-direction: column;
			row-gap: rem(35);
		}
	}
}